<%= form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Suppler Contact Name" %>
    <%= f.text_field :ref, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :supplier_ref %>
    <%= f.text_field :suppler_ref, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :supplier_name %>
    <%= f.text_field :suppler_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :invoice_number %>
    <%= f.text_field :invoice_number, class: "form-control" %>
  </div>

  <div class="form-group">
     <%= f.label "Fat Face Ref" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :invoice_date %>
    <%= f.date_select :invoice_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :due_date %>
    <%= f.date_select :due_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :invoice_currency %>
    <%= f.text_field :invoice_curr, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gross_invoice_amount %>
    <%= f.text_field :gross_invoice_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :supplier_email %>
    <%= f.email_field :supplier_email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Email Button Link" %>
    <%= f.email_field :string, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Proposed Settlement Date" %>
    <%= f.date_select :prop_settlement_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Expiry Date" %>
    <%= f.date_select :offer_expirey_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :offer_amount %>
    <%= f.text_field :offer_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :saving %>
    <%= f.text_field :saving, class: "form-control" %>
  </div>


  <hr style="height: 2px; background-color: grey;"></hr>
  <div class="form-group">
    <%= f.label :offer_sent_date %>
    <%= f.date_select :offer_sent_date, {:include_blank => true}, class: "form-control" %>
  </div>
  

  <hr style="height: 2px; background-color: grey;"></hr>
  <div class="form-group">
    <%= f.label :offer_accepted_date %>
    <%= f.date_select :offer_accepted_date, {:include_blank => true}, class: "form-control" %>
  </div>
  <hr style="height: 2px; background-color: grey;"></hr>

  <%#= f.hidden_field :customer_name, :value => @pin.user.company %>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, ['Imported', 'Pending', 'Accepted', 'Rejected', 'Expired' ]%>
    <%#= f.text_field :status, :value => "imported", class: "form-control" %>
  </div>

  <% if @pin.gross_invoice_amount %>
    <div class="form-group">
      <%= f.submit "Edit Invoice", class: "btn btn-primary" %>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.submit "Add Invoice", class: "btn btn-primary" %>
    </div>
  <% end %>

<% end %>









