<div class='ffportal'>

  <div class='welcometitle'>
    <h1>Welcome <%= current_user.user_name %></h1>
  </div>
  
  <hr style="height: 2px; background-color: grey;"></hr>

  <div class="center">
    <%= render 'layouts/supplierdashboardpages' %>
  </div>

  <br><br>
  <br><br>
  <% if !@pinsaccepted.first && !@pinsrejected.first %>
   <p>You currently have no offer history.</p>
  <% end %>

  <% if @pinsaccepted.first %>
  <p><b>Accepted</b></p>
  <p>You have accepted early payment offers on the below invoice(s):</p>
  <table class="table table-hover table-bordered table-striped invtable">
    <thead>
      <tr>
        <th><%= sortable "invoice_number", "Invoice Number" %></th>
        <th><%= sortable "description", "Description" %></th>
        <th><%= sortable "invoice_date", "Invoice Date" %></th>
        <th><%= sortable "due_date", "Old Due Date" %></th>
        <!-- <th><%#= sortable "invoice_curr", "Invoice Currency" %></th> -->
        <th><%= sortable "invoice_amount", "Old Invoice Amount" %></th>
        <th class='darkhead'><%= sortable "offer_sent_date", "Offer Sent Date" %></th>
        <th class='darkhead'><%= sortable "offer_accepted_date", "Offer Accepted Date" %></th>
        <!-- <th><%#= sortable "status", "Offer Status" %></th> -->
        <th class='darkhead'><%= sortable "prop_settlement_date", "New Settlement Date" %></th>
        <th class='darkhead'><%= sortable "offer_amount", "New Settlement Amount" %></th>
        <!-- <th><%#= sortable "saving", "Money Saved" %></th> -->
      </tr>
    </thead>
    <tbody>
      <% @pinsaccepted.each do |pin| %>
        <tr>
          <th class="middle thin"><%= pin.invoice_number %></th>
          <th class="left"  ><%= pin.description %></th>
          <th class="middle date"><%= date(pin.invoice_date) %></th>
          <th class="middle date"><%= date(pin.due_date) %></th>
          <!-- <th class="middle"><%#= pin.invoice_curr %></th> -->
          <th class="right currency"><%= currency(pin.invoice_amount) %></th>
          <th class="middle date"><%= date(pin.offer_sent_date) %></th>
          <th class="middle date"><%= date(pin.offer_accepted_date) %></th>
          <!-- <th class="middle"><%#= pin.status %></th> -->
          <th class="middle date"><%= date(pin.prop_settlement_date) %></th>
          <th class="right currency" ><%= currency(pin.offer_amount) %></th>
          <!-- <th class="right" ><%#= currency(pin.saving) %></th> -->
        </tr>
      <% end %>  
    </tbody>
  </table>
    <div class="center">
     <%= will_paginate @pinsaccepted, renderer: BootstrapPagination::Rails %>
    </div>
    <br>
    <% if !@pinsrejected.first%>
      <p>If you have any questions please get in touch: <%= mail_to 'fatface.offers@invoicely.co.uk' do %>fatface.offers@invoicely.co.uk<% end %>.</p>
    <% end %>
    <br><br>
  <% end %>

  <% if @pinsrejected.first %>
    <p><b>Rejected/Expired</b></p>
    <p>Offers were rejected/expired on the below invoice(s):</p>
    <table class="table table-hover table-bordered table-striped invtable">
      <thead>
        <tr>
          <th><%= sortable "invoice_number", "Invoice Number" %></th>
          <th><%= sortable "description", "Description" %></th>
          <th><%= sortable "invoice_date", "Invoice Date" %></th>
          <th><%= sortable "due_date", "Due Date" %></th>
          <!-- <th><%#= sortable "invoice_curr", "Invoice Currency" %></th> -->
          <th><%= sortable "invoice_amount", "Invoice Amount" %></th>
          <th class='darkhead'><%= sortable "offer_sent_date", "Offer Sent Date" %></th>
          <th class='darkhead'><%= sortable "status", "Offer Response" %></th>
          <th class='darkhead'><%= sortable "offer_accepted_date", "Offer Response/Expired Date" %></th>
          <th class='darkhead'><%= sortable "prop_settlement_date", "Proposed Settlement Date" %></th>
          <th class='darkhead'><%= sortable "offer_amount", "Offered Amount" %></th>
          <!-- <th><%#= sortable "saving", "Money Saved" %></th> -->
        </tr>
      </thead>
      <tbody>
        <% @pinsrejected.each do |pin| %>
          <tr>
            <th class="middle thin"><%= pin.invoice_number %></th>
            <th class="left"  ><%= pin.description %></th>
            <th class="middle date"><%= date(pin.invoice_date) %></th>
            <th class="middle date"><%= date(pin.due_date) %></th>
            <!-- <th class="middle"><%#= pin.invoice_curr %></th> -->
            <th class="right currency" ><%= currency(pin.invoice_amount) %></th>
            <th class="middle date"><%= date(pin.offer_sent_date) %></th>
            <th class="middle thin"><%= pin.status %></th>
            <th class="middle date"><%= date(pin.offer_accepted_date) %></th>
            <th class="middle date"><%= date(pin.prop_settlement_date) %></th>
            <th class="right currency" ><%= currency(pin.offer_amount) %></th>
            <!-- <th class="right" ><%#= currency(pin.saving) %></th> -->
          </tr>
        <% end %>  
      </tbody>
    </table>
    <div class="center">
     <%= will_paginate @pinsrejected, renderer: BootstrapPagination::Rails %>
    </div>
    <br>
    <p>To receive a new offer on any rejected/expired invoices please get in touch: <%= mail_to 'fatface.offers@invoicely.co.uk' do %>fatface.offers@invoicely.co.uk<% end %>.</p>
  <% end %>
  <br><br><br><br>
</div>


