
<div class="center">
  <%= render 'layouts/dashboardpages' %>
</div>

<br><br>

<table class="invtable">
  <thead>
    <tr>
      <th><%= sortable "description", "Description" %></th>
      <th><%= sortable "created_at", "Created at" %></th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Send Offer</th>
    </tr>
  </thead>
  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <th><%= pin.description %></th>
        <th><%= pin.created_at.to_formatted_s(:short)  %></th>
        <th><%= link_to edit_pin_path(pin) do %><span class="glyphicon glyphicon-pencil"></span> Edit<% end %></th>
        <th><%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-trash"></span> Delete<% end %></th>
        <th><%= link_to "Send", "#" %></th>
      </tr>
    <% end %>  
  </tbody>
</table>


<div class="center">
   <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>

