
<div class="center">
  <%= render 'layouts/dashboardpages' %>
</div>

<br><br>

<br><br>

<table class="invtable">
  <thead>
    <tr>
      <th><%= check_box_tag "select_all" %></th>
      <th><%= sortable "created_at", "Created At" %></th>
      <th><%= sortable "user_id", "User Id" %></th>
      <th><%= sortable "ref", "Suppler Contact Name" %></th>
      <th><%= sortable "suppler_ref", "Supplier Ref" %></th>
      <th><%= sortable "suppler_name", "Supplier Name" %></th>
      <th><%= sortable "invoice_number", "Invoice Number" %></th>
      <th><%= sortable "description", "Description" %></th>
      <th><%= sortable "invoice_date", "Invoice Date" %></th>
      <th><%= sortable "due_date", "Due Date" %></th>
      <th><%= sortable "invoice_curr", "Invoice Currency" %></th>
      <th><%= sortable "invoice_amount", "Invoice Amount" %></th>
      <th><%= sortable "supplier_email", "Supplier Email" %></th>
      <th><%= sortable "status", "Invoice Status" %></th>
      <th><%= sortable "prop_settlement_date", "Proposed Settlement Date" %></th>
      <th><%= sortable "offer_amount", "Offer Amount" %></th>
      <th><%= sortable "saving", "Potential Saving" %></th>
      <th><%= sortable "offer_sent_date", "Offer Sent Date" %></th>
      <th><%= sortable "offer_accepted_date", "Offer Accepted Date" %></th>
      <th><%= sortable "customer_name", "Customer" %></th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <th><%= check_box_tag "ids[]", pin.id %></th>
        <th><%= pin.created_at.strftime("%d %b %Y") %></th>
        <th><%= pin.user_id %></th>
        <th><%= pin.ref %></th>
        <th><%= pin.suppler_ref %></th>
        <th><%= pin.suppler_name %></th>
        <th><%= pin.invoice_number %></th>
        <th><%= pin.description %></th>
        <th><%= pin.invoice_date.strftime("%d %b %Y") %></th>
        <th><%= pin.due_date.strftime("%d %b %Y") %></th>
        <th><%= pin.invoice_curr %></th>
        <th><%= pin.invoice_amount %></th>
        <th><%= pin.supplier_email %></th>
        <th><%= pin.status %></th>
        <th><%= pin.prop_settlement_date.strftime("%d %b %Y") %></th>
        <th><%= pin.offer_amount %></th>
        <th><%= pin.saving %></th>
        <th><%= pin.offer_sent_date %></th>
        <th><%= pin.offer_accepted_date %></th>
        <th><%= pin.customer_name %></th>
        <th><%= link_to edit_pin_path(pin) do %><span class="glyphicon glyphicon-pencil"></span> Edit<% end %></th>
        <th><%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-trash"></span> Delete<% end %></th>
        
      </tr>
    <% end %>  
  </tbody>
</table>

<br><br>



<br>
<p><%= link_to "Delete All Invoices", :action => "deleteAll" %></p>
<%#= button "Send Emails", data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
<%# end %>

<br><br>

<div class="center">
   <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>




