
<div class="center">
  <%= render 'layouts/dashboardpages' %>
</div>

<br><br>
  <%= link_to new_pin_path do %>
    <span class="glyphicon glyphicon-plus"></span> New Invoice
  <% end %>


<%#= form_for('Pin', :as => 'pins', :url => delete_selected_pins_path) do |f| %>
<table class="invtable">
  <thead>
    <tr>
      <th><%= check_box_tag "select_all" %></th>
      <th><%= sortable "ref", "Ref" %></th>
      <th><%= sortable "suppler_ref", "Supplier Ref" %></th>
      <th><%= sortable "suppler_name", "Supplier Name" %></th>
      <th><%= sortable "invoice_number", "Invoice Number" %></th>
      <th><%= sortable "description", "Description" %></th>
      <th><%= sortable "invoice_date", "Invoice Date" %></th>
      <th><%= sortable "due_date", "Due Date" %></th>
      <th><%= sortable "invoice_curr", "Invoice Currency" %></th>
      <th><%= sortable "invoice_amount", "Invoice Amount" %></th>
      <th><%= sortable "status", "Invoice Status" %></th>
      <th><%= sortable "prop_settlement_date", "Proposed Settlement Date" %></th>
      <th><%= sortable "offer_amount", "Offer Amount" %></th>
      <th><%= sortable "saving", "Potential Saving" %></th>
      <th>Send Offer</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <th><%= check_box_tag "ids[]", pin.id %></th>
        <th><%= pin.ref %></th>
        <th><%= pin.suppler_ref %></th>
        <th><%= pin.suppler_name %></th>
        <th><%= pin.invoice_number %></th>
        <th><%= pin.description %></th>
        <th><%= pin.invoice_date %></th>
        <th><%= pin.due_date %></th>
        <th><%= pin.invoice_curr %></th>
        <th><%= pin.invoice_amount %></th>
        <th><%= pin.status %></th>
        <%= form_for pin, html: { multipart: true } do |f| %>
          <th><%= f.date_select :prop_settlement_date, class: "form-control"%><%= f.hidden_field :status, :value => "pending" %></th>
          <th><%= f.text_field :offer_amount, :readonly => true, :value => pin.invoice_amount - 10, class: "form-control" %></th>
          <th><%= f.text_field :saving, :readonly => true, :value => 10, class: "form-control" %></th>
          <th><%= f.submit "Send", :onclick => "return confirm('Send offer?')" , class: "btn btn-primary" %></th>
        <% end %>
        <th><%= link_to edit_pin_path(pin) do %><span class="glyphicon glyphicon-pencil"></span> Edit<% end %></th>
        <th><%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="glyphicon glyphicon-trash"></span> Delete<% end %></th>
        
      </tr>
    <% end %>  
  </tbody>
</table>

<br><br>
<%#= f.button "Delete Multiple", data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
<%# end %>

<br><br>


<div class="center">
   <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>

