<h1>Welcome <%= current_user.user_name %></h1>
<hr style="height: 2px; background-color: grey;"></hr>

<div class="center">
  <%= render 'layouts/supplierdashboardpages' %>
</div>

<br><br>

<% if !@pins.first %>
 <p>You currently have no available offers</p>
<% end %>

<% if @pins.first %>
  <div>
    <p>FatFace have recenlty approved <%= @pinscount %> of your invoice(s) with the option of early payment.</p>
    <p>You will receive the full invoice amount on the invoice due dates or you can select which you'd like to receive early payments on. To do this selcet Accept/Reject options in the table below and press "Submit".</p>
    <p>The new payment amounts are as per the table below. The date on which these would be paid is <%= fulldate(@pins.first.prop_settlement_date) %>.</p>
    <p>This offer will expire on <%= fulldate(@pins.first.offer_expirey_date) %>.</p>
  </div>
  <br>
  <%= form_for @pins.first, html: { multipart: true } do |f| %>
    <table class="table table-hover table-bordered table-striped invtable">
      <thead>
        <tr>
          <th><%= sortable "invoice_number", "Invoice Number" %></th>
          <th><%= sortable "description", "Description" %></th>
          <th><%= sortable "invoice_date", "Invoice Date" %></th>
          <th><%= sortable "due_date", "Due Date" %></th>
          <th><%= sortable "invoice_curr", "Invoice Currency" %></th>
          <th><%= sortable "invoice_amount", "Invoice Amount" %></th>
          <th><%= sortable "status", "Offer Status" %></th>
          <th><%= sortable "prop_settlement_date", "Proposed Settlement Date" %></th>
          <th><%= sortable "offer_amount", "New Offer Amount" %></th>
          <th><%= sortable "saving", "Requested Discount" %></th>
          <th><%= sortable "offer_expirey_date", "Offer Expirey Date" %></th>
          <th>Available Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @pins.each do |pin| %>
          <tr>
            <th><%= pin.invoice_number %></th>
            <th><%= pin.description %></th> 
            <th><%= date(pin.invoice_date) %></th>
            <th><%= date(pin.due_date) %></th>
            <th><%= pin.invoice_curr %></th>
            <th><%= currency(pin.invoice_amount) %></th>
            <th><%= pin.status %></th>
            <th><%= date(pin.prop_settlement_date) %></th>
            <th><%= currency(pin.offer_amount) %></th>
            <th><%= currency(pin.saving) %></th>
            <th><%= date(pin.offer_expirey_date) %></th>
            <th> <%= render :partial => 'accept_reject_form', :locals => {:pin => pin} %> </th>
          </tr>
        <% end %>  
      </tbody>
    </table>

    <div class="pull-right">
      <button type="button" id="markAllAccepted" data-complete-text="finished!" class="btn btn-success" autocomplete="off">
        Mark all
      </button>
      <button type="button" id="markAllRejected" data-complete-text="finished!" class="btn btn-primary" autocomplete="off">
        Mark all
      </button>
    </div>
    <br><br>
    <div>
      <div style='float: left'>Total selected for early payments:&nbsp;</div>
      <div id="totalEarlyPayment" >£ 0.00</div>
    </div>
    <br><br>

    <button type="button" class="btn btn-primary btn-lg" id="modalBtn">
      Submit
    </button>

    <!-- Modal OK-->
    <div class="modal fade" id="myModalOK" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
          </div>
          <div class="modal-body">
            By confirming you agree to the new payment terms etc etc
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
  <%= f.submit "Confirm", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for when missing Radio Input-->
    <div class="modal fade" id="myModalMissingRadioInput" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Oops</h4>
          </div>
          <div class="modal-body">
            You're missing an input. Please select Accept / Reject for all invoices
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>
<% end %>

<br><br>

<script>

  var list = document.getElementById('totalEarlyPayment');
  var pinsid = <%=raw @pinsid%>;
  var pinOfferHash = <%=raw @offerAmounts %>;
  var radios = [[]];
  var acceptedPins = [];
  var totalOfferAmount = 0
  var totalNumberOfCheckedButtons = 0

  $('#markAllAccepted').on('click', function () {
    $(Accept).button('toggle')
  })

  $('#markAllRejected').on('click', function () {
    $(Reject).button('toggle')
  })

  $('input[type=radio]').change( function() { 
    getCheckedPins()
    calculateTotal()
    addTotal()
  });

  for( i = 0; i < pinsid.length; i++ ) {
    var number = pinsid[i]
    radios[i] = document.getElementsByName( 'pins[' + number + ']' );
  }

  function getCheckedPins() {
    acceptedPins = [];
    totalNumberOfCheckedButtons = 0
    for( i = 0; i < radios.length; i++ ) {
      var radios2 = radios[i];
      for( x = 0; x < radios2.length; x++ ) {
        if( radios2[x].checked ) {
          totalNumberOfCheckedButtons ++
          if (radios2[x].value == 'Accept'){
            var num = radios2[x].name.replace(/^\D+|\D+$/g, "")  
            acceptedPins[i] = num           
          }
        }
      }
    }
    return null;
  }

  function calculateTotal(){
    totalOfferAmount = 0
    for( i = 0; i < radios.length; i++ ) {
      if(acceptedPins[i]){
      var invoiceOfferString = pinOfferHash[acceptedPins[i]];
      totalOfferAmount = totalOfferAmount + Number(invoiceOfferString)
      }
    }
  }

  function addTotal(){
    list.removeChild(list.firstChild);
    var li = format1(totalOfferAmount,"£");
    var z = document.createElement('div');
    z.innerHTML = li;
    document.body.appendChild(z);
    list.appendChild(z);            
  } 

  function format1(n, currency) {
      return currency + " " + n.toFixed(2).replace(/./g, function(c, i, a) {
          return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
      });
  }

  $(document).ready(function(){
    $("#modalBtn").click(function(){
      if (allRadioButtonsSelected()) {
        $("#myModalOK").modal();
      } else {
        $("#myModalMissingRadioInput").modal();
      }
    });
  });

  function allRadioButtonsSelected(){
    if (totalNumberOfCheckedButtons == pinsid.length) {
      return true
    } else {
      return false
    }
  }

</script>



