<h1>Welcome <%= current_user.user_name %></h1>
<hr style="height: 2px; background-color: grey;"></hr>

<div class="center">
  <%= render 'layouts/supplierdashboardpages' %>
</div>

<br><br>

<% if !@pins.first %>
 <p>You currently have no available offers</p>
<% end %>

<% if @pins.first %>

<p>FatFace have recenlty approved <%= @pinscount %> of your invoice(s) with the option of early payment.</p>

<p>You will receive the full invoice amount on the invoice due dates or you can select which you'd like to receive early payments on. To do this selcet Accept/Reject options in the table below and press "Submit".</p>

<p>The new payment amounts are as per the table below. The date on which these would be paid is <%= fulldate(@pins.first.prop_settlement_date) %>.</p>

<p>This offer will expire on <%= fulldate(@pins.first.offer_expirey_date) %>.</p>

<br>
  <%= form_for @pins.first, html: { multipart: true } do |f| %>

    <table class="table table-hover table-bordered table-striped invtable">
      <thead>
        <tr>
          <th><%= sortable "invoice_number", "Invoice Number" %></th>
          <th><%= sortable "description", "Description" %></th>
          <th><%= sortable "invoice_date", "Invoice Date" %></th>
          <th><%= sortable "due_date", "Due Date" %></th>
          <th><%= sortable "invoice_curr", "Invoice Currency" %></th>
          <th><%= sortable "invoice_amount", "Invoice Amount" %></th>
          <th><%= sortable "status", "Offer Status" %></th>
          <th><%= sortable "prop_settlement_date", "Proposed Settlement Date" %></th>
          <th><%= sortable "offer_amount", "New Offer Amount" %></th>
          <th><%= sortable "saving", "Requested Discount" %></th>
          <th><%= sortable "offer_expirey_date", "Offer Expirey Date" %></th>
          <th>Available Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @pins.each do |pin| %>
          <tr>
            <th><%= pin.invoice_number %></th>
            <th><%= pin.description %></th> 
            <th><%= date(pin.invoice_date) %></th>
            <th><%= date(pin.due_date) %></th>
            <th><%= pin.invoice_curr %></th>
            <th><%= currency(pin.invoice_amount) %></th>
            <th><%= pin.status %></th>
            <th><%= date(pin.prop_settlement_date) %></th>
            <th><%= currency(pin.offer_amount) %></th>
            <th><%= currency(pin.saving) %></th>
            <th><%= date(pin.offer_expirey_date) %></th>
            <th> <%= render :partial => 'accept_reject_form', :locals => {:pin => pin} %> </th>
          </tr>
        <% end %>  
      </tbody>
    </table>
    <br><br>

  <%= f.submit "Submit", data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
  <% end %>
  <br>
  <p>By pressing submit you are formally agreeing on the new offer price etc.  </p>
<% end %>

<br><br>

