<div class="center">
  <%= render 'layouts/dashboardpages' %>
</div>

<br><br>

<table class="invtable">
  <thead>
    <tr>
      <th><%= check_box_tag "select_all" %></th>
      <th><%= sortable "ref", "Ref" %></th>
      <th><%= sortable "suppler_ref", "Supplier Ref" %></th>
      <th><%= sortable "suppler_name", "Supplier Name" %></th>
      <th><%= sortable "invoice_number", "Invoice Number" %></th>
      <th><%= sortable "description", "Description" %></th>
      <th><%= sortable "invoice_date", "Invoice Date" %></th>
      <th><%= sortable "due_date", "Due Date" %></th>
      <th><%= sortable "invoice_curr", "Invoice Currency" %></th>
      <th><%= sortable "invoice_amount", "Invoice Amount" %></th>
      <th><%= sortable "status", "Invoice Status" %></th>
      <th><%= sortable "supplier_email", "Supplier Email" %></th>
      <th><%= sortable "prop_settlement_date", "Proposed Settlement Date" %></th>
      <th><%= sortable "offer_amount", "Offer Amount" %></th>
      <th><%= sortable "saving", "Potential Saving" %></th>
      <th>Action</th>
      <th>Offer Accepted Date</th>
    </tr>
  </thead>
  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <th><%= check_box_tag "ids[]", pin.id %></th>
        <th><%= pin.ref %></th>
        <th><%= pin.suppler_ref %></th>
        <th><%= pin.suppler_name %></th>
        <th><%= pin.invoice_number %></th>
        <th><%= pin.description %></th>
        <th><%= pin.invoice_date %></th>
        <th><%= pin.due_date %></th>
        <th><%= pin.invoice_curr %></th>
        <th><%= pin.invoice_amount %></th>
        <th><%= pin.status %></th>
        <th><%= pin.supplier_email %></th>
        <th><%= pin.prop_settlement_date %></th>
        <th><%= pin.offer_amount %></th>
        <th><%= pin.saving %></th>   
        <%= form_for pin, html: { multipart: true } do |f| %>
          <th>
            <div style="display: none;">
              <%= f.text_field :status, :value => "accepted" %>
              <%= f.date_select :offer_accepted_date %>
            </div>
            <% if pin.status == "pending" %>
              <%= f.submit "Accept Offer", :onclick => "return confirm('Sure you accept?')" , class: "btn btn-primary" %>
            <% end %>
        <% end %>  
        <%= form_for pin, html: { multipart: true } do |f| %>
            <div style="display: none;">
              <%= f.text_field :status, :value => "rejected" %>
            </div>
            <% if pin.status == "pending" %>
              <%= f.submit "Reject Offer", :onclick => "return confirm('Sure you reject?')" , class: "btn btn-primary" %>
            <% end %>
          </th>
        <% end %>
        <th><%= pin.offer_accepted_date %></th>      
      </tr>
    <% end %>  
  </tbody>
</table>

<br><br>