<div class='ffportal'>
  <div class='welcometitle'>
    <h1>Welcome, <%= current_user.user_name %></h1>
  </div>
  <hr style="height: 2px; background-color: grey;"></hr>

  <div class="center">
    <%= render 'layouts/supplierdashboardpages' %>
  </div>

  <br><br>

  <% if !@pins.first %>
  <br><br>
   <p>You currently have no available offers.</p>
   <br><br><br><br><br><br><br><br><br>
  <% end %>

  <% if @pins.first %>
    <div>
      <p>Fat Face has recently approved <b><%= @pinscount %></b> of your invoice(s) with the option of early payment on <b><%= fulldate(@pins.first.prop_settlement_date) %></b>.</p>
      <p>The proposed terms are displayed in the table below. Please respond using the Accept/Reject buttons and finish by submitting your responses.</p>
      <!-- <p>The payment for accepted offers will be processed on <b><%#= fulldate(@pins.first.prop_settlement_date) %></b>.</p> -->
      <p>This offer will expire on <b><%= fulldate(@pins.first.offer_expirey_date) %></b>.</p>
    </div>
    <br>
    <%= form_for @pins.first, html: { multipart: true } do |f| %>
      <table class="table table-hover table-bordered table-striped invtable">
        <thead>
          <tr>
            <th><%= sortable "invoice_number", "Invoice Number" %></th>
            <th><%= sortable "description", "Fat Face Ref" %></th>
            <th><%= sortable "invoice_date", "Invoice Date" %></th>
            <th><%= sortable "due_date", "Due Date" %></th>
            <!-- <th><%#= sortable "invoice_curr", "Invoice Currency" %></th> -->
            <th><%= sortable "gross_invoice_amount", "Gross Invoice Amount" %></th>
            <!-- <th><%#= sortable "status", "Offer Status" %></th> -->
            <th class='darkhead'><%= sortable "prop_settlement_date", "Proposed Settlement Date" %></th>
            <th class='darkhead'>Acceleration</th>  
            <th class='darkhead'><%= sortable "offer_amount", "New Offer Amount" %></th>
            <!-- <th><%#= sortable "saving", "Requested Discount" %></th> -->
            <th class='darkhead'><%= sortable "offer_expirey_date", "Offer Expiry Date" %></th>
            <th class='darkhead actions'>Available Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @pins.each do |pin| %>
            <tr>
              <th class="middle "><%= pin.invoice_number %></th>
              <th class="middle "><%= pin.description %></th> 
              <th class="middle date"><%= date(pin.invoice_date) %></th>
              <th class="middle date"><%= date(pin.due_date) %></th>
              <!-- <th class="middle thin"><%#= pin.invoice_curr %></th> -->
              <th class="right currency"><%= currency(pin.gross_invoice_amount) %></th>
              <!-- <th class="middle"><%#= pin.status %></th> -->
              <th class="middle date dark"><%= date(pin.prop_settlement_date) %></th>
              <th class="right date dark"><%= (pin.due_date - pin.prop_settlement_date).to_i %> days</th>
              <th class="right currency dark"><%= currency(pin.offer_amount) %></th>
              <!-- <th class="right"><%#= currency(pin.saving) %></th> -->
              <th class="middle date dark"><%= date(pin.offer_expirey_date) %></th>
              <th class="middle buttons dark"> <%= render :partial => 'accept_reject_form', :locals => {:pin => pin} %> </th>
            </tr>
          <% end %>  
        </tbody>
      </table>

      <div class="pull-right">
        <button type="button" id="markAllAccepted" data-complete-text="finished!" class="btn btn-markAllAccept" autocomplete="off">
          Mark all
        </button>
        <button type="button" id="markAllRejected" data-complete-text="finished!" class="btn btn-danger" autocomplete="off">
          Mark all
        </button>
      </div>
      <div>
        <div style='float:left; font-size: 20px; padding-top: 21px'>Discount:&nbsp;&nbsp;</div>
        <div id="totalDiscount" style='font-size: 20px; float: left; padding-top: 20px'>£ 0.00</div>
      </div>
      <br><br><br>
      <div>
        <div style='float:left; font-size: 20px; padding-top: 24px'>Total selected for early payment:&nbsp;&nbsp;</div>
        <div id="totalEarlyPayment" style='font-size: 40px; float: left;'>£ 0.00</div>
      </div>
      <br><br><br><br>
      <button type="button" class="btn btn-primary btn-lg pull-left" id="modalBtn">
        Submit
      </button>

      <!-- Modal OK-->
      <div class="modal fade" id="myModalOK" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
            </div>
            <div class="modal-body">
              <!-- <div class="selectedContent"> -->
              <div id="selectedContent">
                <p>You have selected early payment on <b><span class='earlyPaymentInvoiceNumber'></span></b> invoice(s), totalling <b><span class='earlyPaymentAmountAccepted'></span></b>.</p>
                <p>This payment will be processed by Fat Face on <b><%= fulldate(@pins.first.prop_settlement_date) %></b>.</p>
                <p>By pressing confirm you are agreeing to these new payment terms.</p>
              </div>
              <!-- <div class='noneSelected'> -->
              <div id='noneSelected'>
                <p>No early payments selected. Are you sure?</p>
              </div>

            </div>
            <div class="modal-footer" style="margin-top: 0px;">
              <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
    <%= f.submit "Confirm", class: "btn btn-primary" %>
    <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for when missing Radio Input-->
      <div class="modal fade" id="myModalMissingRadioInput" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Oops...</h4>
            </div>
            <div class="modal-body">
              You're missing some responses. Please select Accept / Reject for all invoices.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
            </div>
          </div>
        </div>
      </div>
  <% end %>

  <br><br><br><br><br><br><br><br>
</div>

<script>

  var list = document.getElementById('totalEarlyPayment');
  var list2 = document.getElementById('totalDiscount');
  var pinsid = <%=raw @pinsid%>;
  var pinOfferHash = <%=raw @offerAmounts %>;
  var discountHash = <%=raw @discount %>;
  var radios = [[]];
  var acceptedPins = [];
  var totalOfferAmount = 0
  var totalDiscount = 0
  var totalNumberOfCheckedButtons = 0

  $('#markAllAccepted').on('click', function () {
    $(Accept).button('toggle')
  })

  $('#markAllRejected').on('click', function () {
    $(Reject).button('toggle')
  })

  $('input[type=radio]').change( function() { 
    getCheckedPins()
    calculateTotal()
    addTotal()
  });

  for( i = 0; i < pinsid.length; i++ ) {
    var number = pinsid[i]
    radios[i] = document.getElementsByName( 'pins[' + number + ']' );
  }

  function getCheckedPins() {
    acceptedPins = [];
    totalNumberOfCheckedButtons = 0
    for( i = 0; i < radios.length; i++ ) {
      var radios2 = radios[i];
      for( x = 0; x < radios2.length; x++ ) {
        if( radios2[x].checked ) {
          totalNumberOfCheckedButtons ++
          if (radios2[x].value == 'Accepted'){
            var num = radios2[x].name.replace(/^\D+|\D+$/g, "")  
            acceptedPins[i] = num
          }
        }
      }
    }
    return null;
  }

  function calculateTotal(){
    totalOfferAmount = 0
    totalDiscount = 0
    for( i = 0; i < radios.length; i++ ) {
      if(acceptedPins[i]){
      var invoiceOfferString = pinOfferHash[acceptedPins[i]];
      totalOfferAmount = totalOfferAmount + Number(invoiceOfferString)
      var invoiceDiscountString = discountHash[acceptedPins[i]];
      totalDiscount = totalDiscount + Number(invoiceDiscountString)
      }
    }
  }

  function addTotal(){
    list.removeChild(list.firstChild);
    list2.removeChild(list2.firstChild);
    var li = format1(totalOfferAmount,"£");
    var li2 = format1(totalDiscount,"£");
    var z = document.createElement('div');
    var x = document.createElement('div');
    z.innerHTML = li;
    x.innerHTML = li2;
    document.body.appendChild(z);
    document.body.appendChild(x);
    list.appendChild(z);
    list2.appendChild(x);
    //document.querySelector('.selectedContent .earlyPaymentAmountAccepted').innerHTML = li;
    //document.querySelector('.selectedContent .earlyPaymentInvoiceNumber').innerHTML = acceptedPins.filter(Number).length;  
    //this should go in below
    //document.querySelector('.earlyPaymentAmountAccepted').innerHTML = li;
    //document.querySelector('.earlyPaymentInvoiceNumber').innerHTML = acceptedPins.filter(Number).length;          
  } 

  function format1(n, currency) {
      return currency + " " + n.toFixed(2).replace(/./g, function(c, i, a) {
          return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
      });
  }

//////////////////////////////////////////try again

  $(document).ready(function(){
    $("#modalBtn").click(function(){
      if (allRadioButtonsSelected()) {
          //here fine
        $("#myModalOK").modal();
            document.getElementById("noneSelected").className = "showDisplay";
            document.getElementById("selectedContent").className = "hideDisplay";
          if (acceptedPins.filter(Number).length == 0){
            //none selected, hide content and display none selected div
            //document.getElementById("noneSelected").className = "showDisplay";
            //document.getElementById("selectedContent").className = "hideDisplay";
          } else {
            //at least one invoice selected
            //document.getElementById("noneSelected").className = "hideDisplay";
            //document.getElementById("selectedContent").className = "showDisplay";
          }
      } else {
        $("#myModalMissingRadioInput").modal();
      }
    });
  });


//////////////////////////////////////////original
  // $(document).ready(function(){
  //   $("#modalBtn").click(function(){
  //     if (allRadioButtonsSelected()) {
  //       $("#myModalOK").modal();
  //         if (acceptedPins.filter(Number).length == 0){
  //           //document.getElementsByClassName('noneSelected')[0].style.display='initial';
  //           //document.getElementsByClassName('selectedContent')[0].style.display='none';
  //           document.querySelectorAll('.noneSelected')[0].style.display='initial';
  //           document.querySelectorAll('.selectedContent')[0].style.display='none';
  //         } else {
  //           //document.getElementsByClassName('selectedContent')[0].style.display='initial';
  //           //document.getElementsByClassName('noneSelected')[0].style.display='none';
  //           document.querySelectorAll('.selectedContent')[0].style.display='initial';
  //           document.querySelectorAll('.noneSelected')[0].style.display='none';
  //         }
  //     } else {
  //       $("#myModalMissingRadioInput").modal();
  //     }
  //   });
  // });
//////////////////////////////////////////original
  function allRadioButtonsSelected(){
    if (totalNumberOfCheckedButtons == pinsid.length) {
      return true
    } else {
      return false
    }
  }


</script>



