
<div class="center">
  <%= render 'layouts/dashboardpages' %>
</div>

<br><br>

   <script>
  // $(function() {
  //   $( "#datepicker" ).datepicker();
  // });
  // </script>

<!-- <div class="form-group center">
  <%#= filter_form_for @q do |f| %>
  <%#= hidden_field_tag :direction, params[:direction] %>
  <%#= hidden_field_tag :sort, params[:sort] %>
  <%#= f.filter_input :description, class: "form-control" %>
  <%#= f.filter_input :description, as: :select %>
  <%#= f.filter_input :created_at, as: :date, predicate: :gt %>
  <%#= f.filter_input :created_at, as: :date, predicate: :lt %>
  <%#= f.button :submit, "Filter" %>
  <%#= link_to "Clear", pendingoffers_path %>
<%# end %>
</div> -->

<!-- <input id="datepicker"> -->
<br><br>

<table class="invtable">
  <thead>
    <tr>
      <th><%= sortable "ref", "Ref" %></th>
      <th><%= sortable "suppler_ref", "Supplier Ref" %></th>
      <th><%= sortable "suppler_name", "Supplier Name" %></th>
      <th><%= sortable "invoice_number", "Invoice Number" %></th>
      <th><%= sortable "description", "Description" %></th>
      <th><%= sortable "invoice_date", "Invoice Date" %></th>
      <th><%= sortable "due_date", "Due Date" %></th>
      <th><%= sortable "invoice_curr", "Invoice Currency" %></th>
      <th><%= sortable "invoice_amount", "Invoice Amount" %></th>
      <th><%= sortable "status", "Invoice Status" %></th>
      <th><%= sortable "supplier_email", "Offer Sent to" %></th>
      <th><%= sortable "offer_sent_date", "Offer Sent Date" %></th>
      <th><%= sortable "prop_settlement_date", "Proposed Settlement Date" %></th>
      <th><%= sortable "offer_amount", "Offer Amount" %></th>
      <th><%= sortable "saving", "Potential Saving" %></th>
    </tr>
  </thead>
  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <th><%= pin.ref %></th>
        <th><%= pin.suppler_ref %></th>
        <th><%= pin.suppler_name %></th>
        <th><%= pin.invoice_number %></th>
        <th><%= pin.description %></th>
        <th><%= pin.invoice_date %></th>
        <th><%= pin.due_date %></th>
        <th><%= pin.invoice_curr %></th>
        <th><%= pin.invoice_amount %></th>
        <th><%= pin.status %></th>
        <th><%= pin.supplier_email %></th>
        <th><%= pin.offer_sent_date %></th>
        <th><%= pin.prop_settlement_date %></th>
        <th><%= pin.offer_amount %></th>
        <th><%= pin.saving %></th>        
      </tr>
    <% end %>  
  </tbody>
</table>



<div class="center">
   <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>


<br><br>


