<% if current_user.id == 20 %>
  <div class="center">
    <%= render 'layouts/dashboardpages' %>
  </div>

  <br><br><br><br>

  <table class="table table-hover table-bordered table-striped invtable">
    <thead>
      <tr>
        <th><%= sortable "id", "User ID" %></th>
      	<th><%= sortable "company", "Company Name" %></th>
        <th><%= sortable "user_name", "User Name" %></th>
        <th><%= sortable "email", "Email" %></th>
        <th><%= sortable "sign_in_count", "Sign In Count" %></th>
        <th><%= sortable "current_sign_in_at", "current_sign_in_at" %></th>
        <th><%= sortable "last_sign_in_at", "last_sign_in_at" %></th>
        <th><%= sortable "created_at", "created_at" %></th>
        <th><%= sortable "updated_at", "updated_at" %></th>
        <!-- <th>Edit</th> -->
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %> 
        <tr>
          <th><%= user.id %></th>
        	<th><%= user.company %></th>
          <th><%= user.user_name %></th>       
          <th><%= user.email %></th>
          <th><%= user.sign_in_count %></th>
          <th class="middle"><%= fulldate(user.current_sign_in_at) %></th>
          <th class="middle"><%= fulldate(user.last_sign_in_at) %></th>
          <th class="middle"><%= fulldate(user.created_at) %></th>
          <th class="middle"><%= fulldate(user.updated_at) %></th>
          <% if user.id == 20 %>
            <th class="middle"> <b>Admin</b> </th>
          <% else %>
            <th class="middle"><%= link_to '<i class="glyphicon glyphicon-trash"></i> Delete'.html_safe, admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %></th>
          <% end %>
        </tr>
      <% end %>  
    </tbody>
  </table>

  <br>

  <div class="center">
     <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
  </div>
  <p>Download All:
    <%= link_to "CSV", dashboard_path(format: "csv") %> 
  </p>
<% end %>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>