<div class="center">
  <%= render 'layouts/dashboardpages' %>
</div>



<br><br>

<br><br>




<table class="table table-hover table-bordered table-striped invtable">
  <thead>
    <tr>
    	<th><%= sortable "company", "Company Name" %></th>
      <th><%= sortable "user_name", "User Name" %></th>
      <th><%= sortable "email", "Email" %></th>
      <th><%= sortable "sign_in_count", "Sign In Count" %></th>
      <th><%= sortable "current_sign_in_at", "current_sign_in_at" %></th>
      <th><%= sortable "last_sign_in_at", "last_sign_in_at" %></th>
      <th><%= sortable "created_at", "created_at" %></th>
      <th><%= sortable "updated_at", "updated_at" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
      	<th><%= user.company %></th>
        <th><%= user.user_name %></th>       
        <th><%= user.email %></th>
        <th><%= user.sign_in_count %></th>
        <th><%= fulldate(user.current_sign_in_at) %></th>
        <th><%= fulldate(user.last_sign_in_at) %></th>
        <th><%= fulldate(user.created_at) %></th>
        <th><%= fulldate(user.updated_at) %></th>
      </tr>
    <% end %>  
  </tbody>
</table>

<br><br>


<br><br>

<div class="center">
   <%#= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

