<div class="panel panel-default">

  <!-- if come from email link -->
  <% if params[:fe] == 'true' %>

      <div class="panel-heading">
        <div class="panel-title">
          <h1>Welcome <%= params[:name] %> </h1>
        </div>
      </div>

      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

          <div style="display: none;">
            <div class="form-group">
              <%= f.label :email %>
              <%#= f.email_field :email, class: "form-control", :autofocus => true %>
              <%= f.email_field :email, value: params[:email], class: "form-control", :autofocus => true %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, value: params[:password], class: "form-control" %>
            </div>

            <div class="form-group">
              <div class="checkbox">
                <%= f.check_box :remember_me, {:checked => true} %> 
                <%= f.label :remember_me, id: "remember_me_label" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.submit "Enter", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
  <!-- not from email link -->

  <% else %>
      <div class="panel-heading">
        <div class="panel-title">
          <h1>Log in</h1>
        </div>
      </div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

          <div class="form-group">
            <%= f.label :email %>
            <%#= f.email_field :email, class: "form-control", :autofocus => true %>
            <%= f.email_field :email, value: params[:email], class: "form-control", :autofocus => true %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, value: params[:password], class: "form-control" %>
          </div>

          <div class="form-group">
            <div class="checkbox">
              <%= f.check_box :remember_me %> 
              <%= f.label :remember_me, id: "remember_me_label" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
  <% end %>

</div>