

<img id="logo" src="http://www.fatface.com/content/ebiz/fatface/resources/images/ff-header-logo.png" width="195" height="80" alt="Fat Face" title="Fat Face">


<p>Hi Fat Face / Invoicely team,</p>

<p><%= suppliername%> has responded to their offer,</p>

<% if @pinsaccepted.first %>
	<p>They have accepted an early payment on below invoice(s):</p>

	<table>
	  <thead>
			<tr>
				<th>Supplier Name</th>
	      <th>Invoice Number</th>
	      <th>Description</th>
	      <th>Invoice Date</th>
	      <th>Old Due Date</th>
	      <th>Invoice Currency</th>
	      <th>Old Invoice Amount</th>
	      <th>New Due Date</th>
	      <th>New Invoice Amount</th>
	      <th>Response</th>
	   	</tr>
	  </thead>
	  <tbody>
	    <% @pinsaccepted.each do |pin| %>
	      <tr>
	        <th><%= pin.suppler_name %></th>
	        <th><%= pin.invoice_number %></th>
	        <th><%= pin.description %></th>
	        <th><%= pin.invoice_date %></th>
	        <th><%= pin.due_date %></th>
	        <th><%= pin.invoice_curr %></th>
	        <th><%= pin.gross_invoice_amount %></th>
	        <th><%= pin.prop_settlement_date %></th>
	        <th><%= pin.offer_amount %></th>
	        <th><%= pin.status %></th>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	
	<br><br>
	<p>Fat Face have saved <%= saving %> on these invoice(s).</p>
	<p>An early payment of <%= totalEarlyPayment %> will need to be made on <%= date %>.</p>
	<p>This will be included in the payment summary distributed weekly.</p>
<% end %>

<% if @pinsrejected.first %>
	<p>Payment details will remain the same on the below invoice(s):</p>
	<table>
	  <thead>
			<tr>
				<th>Supplier Name</th>
	      <th>Invoice Number</th>
	      <th>Description</th>
	      <th>Invoice Date</th>
	      <th>Old Due Date</th>
	      <th>Invoice Currency</th>
	      <th>Old Invoice Amount</th>
	      <th>New Due Date</th>
	      <th>New Invoice Amount</th>
	      <th>Response</th>
	   	</tr>
	  </thead>
	  <tbody>
	    <% @pinsrejected.each do |pin| %>
	      <tr>
	        <th><%= pin.suppler_name %></th>
	        <th><%= pin.invoice_number %></th>
	        <th><%= pin.description %></th>
	        <th><%= pin.invoice_date %></th>
	        <th><%= pin.due_date %></th>
	        <th><%= pin.invoice_curr %></th>
	        <th><%= pin.gross_invoice_amount %></th>
	        <th><%= pin.prop_settlement_date %></th>
	        <th><%= pin.offer_amount %></th>
	        <th><%= pin.status %></th>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% end %>

<p>To get in touch with <%= suppliername%>, contact them on <%= mail_to supplieremail do %><%= supplieremail %><% end %>.<p>
<br>

