<!DOCTYPE html>
<html>
<head>
  <title>Invoicely</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<%= render 'layouts/header' %>

  <% if current_page?(offersreceived_path) or  current_page?(acceptedoffers_path) or  current_page?(new_user_session_path) %>
    <%= render 'layouts/supplierheader' %>
  <% end %>

  <% if current_page?(root_path) or  current_page?(about_path) %>
    <div class='bodyofhomepage'>
  <% else %>
    <div class="container">
  <% end %>
      <% flash.each do |name, msg| %>
      	<%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
  		<%= yield %>
  	</div>
</body>
</html>



